body {
    font: 11pt Arial, Helvetica, sans-serif; /* Рубленый шрифт текста */
    margin: 0; /* Отступы на странице */
    background: #fafad1;
}
h1 {
    font-size: 24px; /* Размер шрифта */
    margin: 0; /* Убираем отступы */
    color: #ffffd9; /* Цвет текста */
}
h2 {
    margin-top: 0; /* Убираем отступ сверху */
}
#header { /* Верхний блок */
    background: #3cb371; /* Цвет фона */
    /*border: 1px black solid;*/
    border-bottom: solid 3px #2c8355;
    padding: 10px; /* Поля вокруг текста */
}
#sidebar { /* Левая колонка */
    float: left; /* Обтекание справа */
    border: 1px solid #2c8355; /* Параметры рамки вокруг */
    width: 8%; /* Ширина колонки */
    padding: 5px 5px 5px 10px; /* Поля вокруг текста */
    margin: 0 0 0 0; /* Значения отступов */
    background: #ffffd9;
}
#content { /* Правая колонка */
    margin: 0 3% 20px 10%; /* Значения отступов */
    padding: 5px; /* Поля вокруг текста */
    border: 1px solid #2c8355; /* Параметры рамки */
    background: #ffffd9;
}
#footer { /* Нижний блок */
    background: #333; /* Цвет фона */
    padding: 5px; /* Поля вокруг текста */
    color: #fff; /* Цвет текста */
    clear: left; /* Отменяем действие float */
}
.table {
    border: 1px;
    width: inherit;
    /*width: fit-content;*/
}
.complete-button{
    margin: 10px 10% 0 10%;
    width: 80%;
    alignment: center;
    background: #2c8355;
    color: #ffffd9;
}