<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="utf-8">
  <title>Список документов</title>
  <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/style.css}" />
</head>
<body>
<div id="header"><h1>Документы</h1></div>
<div id="sidebar">
  <p><a href="/">На главную страницу</a></p>
  <p><a href="/documents/list">Шаблоны</a></p>
  <p><a href="/documents/myDocs">Документы</a></p>
</div>
<div id="content">
  <h2>Список документов</h2>
  <div th:each="docName : ${docNames}">
    <p><a th:href="'/documents/myDocs/download?docName=' + ${docName}" th:text="${docName}"></a></p>
  </div>
</div>
</body>
</html>